In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm
from datetime import date

In [3]:
pd.set_option('display.max_columns', None)

In [9]:
r = requests.get('https://www.talabat.com/uae/sitemap')
soup = BeautifulSoup(r.content, 'html.parser')
c = soup.find_all('div', {'class':'col-lg-4 col-md-4 col-4'})

In [12]:
c=c[9:-180]
res = []
for i in c:
  i = i.find('a')
  link = i['href']
  name = i.getText().strip()
  res.append([link, name])
links = pd.DataFrame(res, columns = ['link', 'name'])
links

,link,name
0,/uae/restaurants/6485/abu-dhabi-hills,Abu Dhabi Hills
1,/uae/restaurants/6815/abu-dhabi-international-...,Abu Dhabi International Airport
2,/uae/restaurants/1169/abu-hail,Abu Hail
3,/uae/restaurants/1863/abu-samrah,Abu Samrah
4,/uae/restaurants/1589/abu-shagara,Abu Shagara
...,...,...
433,/uae/restaurants/1569/industrial-area-1,Industrial Area 1
434,/uae/restaurants/4000/industrial-area-10,Industrial Area 10
435,/uae/restaurants/4001/industrial-area-11,Industrial Area 11
436,/uae/restaurants/4002/industrial-area-12,Industrial Area 12
437,/uae/restaurants/4003/industrial-area-13,Industrial Area 13

In [15]:
links['area_id'] = links.link.apply(lambda x: x.split('/')[-2])
links['area_slug'] = links.link.apply(lambda x: x.split('/')[-1])
links.area_slug = links.area_slug.apply(lambda x: x.replace('%E2%80%8B',''))
links_list = links.values
len(links_list)
links_list[10][-2:]

array(['6783', 'ajman-industrial-area-2'], dtype=object)

In [16]:
areaId, areaSlug=  links_list[20][-2:]
res = []
print(areaId, areaSlug)
params = {
    'page': '1',
    'countrySlug': 'uae',
    # 'areaId': '1263',
    # 'areaSlug': 'dubai-festival-city',
    'areaId': areaId,
    'areaSlug': areaSlug,
}
print(params)

6849 al-ain-zoo
{'page': '1', 'countrySlug': 'uae', 'areaId': '6849', 'areaSlug': 'al-ain-zoo'}

In [23]:
response = requests.get('https://www.talabat.com/_next/data/4e715dcf-0bc5-4377-a472-caa6bbdf2483/listing.json', params=params)
response

In [ ]:
response_json = response.json()